<% unless @current_user %>
  <div id="subscribe_form">
    <% if current_user.subscriptions?(@user) %>
      <%= render 'unsubscribe' %>
    <% else %>
      <%= render 'subscribe' %>
    <% end %>
  </div>
<% end %>
