<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% else %>
      <h1>No users</h1>
    <% end %>
  </div>
</div>
